/* 리셋 */
*{
    margin: 0;
    padding: 0;
}
/* 전체레이아웃 */
#wrap{
    width: 100%;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
#header{
    height: 140px; 
}
#banner{
    height: 450px;  
    background: #4dd0e1; 
    line-height: 450px;
}
#contents{
    height: 950px;  
}
#footer{
    height: 220px;  
}   

/* 레이아웃 */
.header-top{
    height: 70px;
    background: #b2ebf2;
    line-height: 70px;
}
.header-nav{
    height: 70px;
    background: #80deea;
    line-height: 70px;
}
.content1{
    height: 90px;
    background: #26c6da;
    line-height: 90px;
}
.content2{
    height: 480px;
    background: #00bcd4;
    line-height: 480px;
}
.content3{
    height: 380px;
    background: #00acc1;
    line-height: 380px;
}
.footer-nav{
    height: 60px;
    background: #0097a7;
    line-height: 60px;
}
.footer-info{
    height: 160px;
    background: #00838f;
    line-height: 160px;
}

/* 컨테이너 */
.container{
    width: 1100px;
    margin: 0 auto;
    height: inherit;
    background: rgba(0, 0, 0, 0.3);
}